@using System.Web.Optimization
@{
    ViewBag.Title = "Quan Ly";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ajaxlogin")
    @Scripts.Render("~/bundles/knockout")
    <title>@ViewBag.Title</title>
</head>
<body>
    @functions{
        public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
            }
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />

    <div id="headerContent">
        @if (@User.Identity.IsAuthenticated)
        {
            @Scripts.Render("~/bundles/view")
            <script>
                $("#headerContent").append(window.app.view.headerMenuView("headerMenuView", [
                    {
                        text: "Ton Kho",
                        id: "#tonKhoView"
                    },
                    {
                        text: "Xuat",
                        id: "#xuatView"
                    }
                ]));
            </script>
        }
    </div>
    <div id="mainContent">
        @if (@User.Identity.IsAuthenticated)
        {
            <script>
                $("#mainContent").append(window.app.view.tonKhoView("tonKhoView"));
            </script>
        }
        else
        {
            <div id="loginPanel">
                <section id="localLoginPanel">
                    <h2>Log in</h2>
                    @Html.Partial("_Login")
                </section>
                <p>First time here? <a id="showRegister">Sign up</a></p>
            </div>
            <div id="registerPanel">
                <h2>Sign up</h2>
                @Html.Partial("_Register")
                <p>Already signed up? <a id="showLogin">Log in</a></p>
            </div>
        }
    </div>
    @if (@User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/app")
        <script>
            ko.applyBindings(window.app.viewModel);
        </script>
    }
</body>
</html>
